.project-form-container {
    background-color: var(--light-grey)!important;
    padding: 20px !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    max-width: 1000px !important;
    margin: auto !important;
    margin-top: 60px !important;
  }
  
  .btn-back {
    font-size: 13px !important;
    font-weight: bolder !important;
    color: white !important;
    width: 100px !important;
    height: 35px !important;
    flex-shrink: 0 !important;
    border-radius: 50px !important;
    border: 1px solid #000 !important;
    background: var(--button-purple) !important;
    margin-top: 30px !important;
    margin-right: 10px !important;
    text-align: center !important;
  }

  @media (min-width: 768px) {
    .form-row {
      display: flex !important;
      justify-content: space-between !important;
    }
  }


  
