.custom-footer{
    background-color: var(--dark-grey) !important;
    color: white !important;
}
.mb-1{
    color: white !important;
}
.copywrite{
    color: white !important;
}

@media(max-width:480px){
    .mb-1{
        color: white !important;
        font-size: 14px;
    }
    .copywrite{
        color: white !important;
        font-size: 14px;
    }
    .h4 mb-0{
        font-size: 12px !important;
    }
}