.view-button{
    font-size: 13px !important;
    font-weight: bolder !important;
    color: white !important;
    width: 100px !important;
    height: 35px !important;
    flex-shrink: 0 !important;
    border-radius: 50px !important;
    border: 1px solid #000 !important;
    background: var(--button-purple) !important;
    margin-right: 10px !important;
    text-align: center !important;
}