* {
    font-family: 'Poppins';
}

.header-component {
    display: flex;
    align-items: center;
    height: 400px;
    width: auto;
    background-color:#f5f5f5;
}

.uni-logo {
    height: 280px;
    width: 280px;
    margin-left: 55%;
    animation: moveInFromLeft 1.5s ease-out forwards, fadeIn 1.5s ease-out forwards;
}

.text-wrapper {
    animation: moveInFromRight 1.5s ease-out forwards, fadeIn 1.5s ease-out forwards;
}

.logo-name {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 65px;
    margin: 0; 
}

.logo-description {
    font-size: 25px;
    margin: 0; 
    font-weight: bold;
}

.header-img {
    display: flex;
    height: auto;
    width: 45%;
}

.header-text {
    height: auto;
    width: 45%;
    text-align: left;
    padding-left: 2%;
}

.line1{
    width: 2px;
    background-color: black;
    animation: fadeInLine 0.5s ease-in forwards;
    animation-delay: 1.5s;
}

.header-btn{
    font-size: 18px;
    font-weight: bolder;
    color: white;
    width: 130px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #000;
    background: #9E3DFF;
    margin-top: 20px;
    margin-right: 30px;

}

    

@keyframes moveInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLine {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 150px;
        margin-top: 20px; 
    }
}

@media(max-width:1500px){
    .header-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        height: auto !important;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .uni-logo {
        margin: 0 auto; 
        text-align: center;
    }

    .header-img {
        text-align: center;
    }

    .header-text {
        height: auto;
        text-align: center;
        padding-left: 0px;

    }

    .line1 {
        display: none;
    }

    .logo-name{
        text-align: center;
        align-items: center;
    }
}



@media(max-width:700px){
    .header-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        height: auto !important;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .uni-logo {
        margin: 0 auto; 
        text-align: center;
        width: 140px;
        height: 140px;
    }

    .header-img {
        text-align: center;
    }

    .header-text {
        height: auto;
        text-align: center;
    }

    .line1 {
        display: none;
    }

    .logo-name {
        font-size: 30px;
    }
    
    .logo-description {
        font-size: 15px;
        font-weight: normal;
    }

    .header-btn{
        font-size: 16px;
        font-weight: bolder;
        color: white;
        width: 120px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid #000;
        background: #9E3DFF;
        margin-left: 15px;
    }
}