* {
    font-family: "Roboto", sans-serif !important;
}

.header-component {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
    background-color:#e9dcf7be;
    background-image: url('https://i.ytimg.com/vi/YjBnFNXIAOk/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.uni-logo {
    height: 250px;
    width: 250px;
    margin-right: 40px;
    animation: moveInFromLeft 1.5s ease-out forwards, fadeIn 1.5s ease-out forwards;
}

.text-wrapper {
    animation: moveInFromRight 1.5s ease-out forwards, fadeIn 1.5s ease-out forwards;
}

/* .logo-name {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 65px;
    margin: 0; 
}

.logo-description {
    font-size: 25px;
    margin: 0; 
    font-weight: bold;
} */
.logo-name {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 65px;
    margin: 0;
    color: #000000;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
                 0 0 10px rgba(255, 255, 255, 0.6), 
                 0 0 15px rgba(255, 255, 255, 0.4);
}

.logo-description {
    font-size: 25px;
    margin: 0;
    font-weight: bold;
    color: #000000;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
                 0 0 10px rgba(255, 255, 255, 0.6), 
                 0 0 15px rgba(255, 255, 255, 0.4);
}
.header-img {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.header-text {
    height: auto;
    width: 100%;
    text-align: left;
    margin-left: 40px;
}

/* .line1{
    width: 2px;
    background-color: black;
    animation: fadeInLine 0.5s ease-in forwards;
    animation-delay: 1.5s;
} */
.line1 {
    border-radius: 10px;

    width: 5px;
    height: 250px; /* Adjust the height as needed */
    background-color: #9e3dff;
    animation: fadeInLine 0.5s ease-in forwards, lineGlow 1.5s infinite alternate;
    animation-delay: 1.5s;
    box-shadow: 0 0 10px #3900F8, 0 0 20px #3900F8, 0 0 30px #9e3dff, 0 0 40px #9e3dff;
}

@keyframes lineGlow {
    0% {
        box-shadow: 0 0 10px #3900F8, 0 0 20px #3900F8, 0 0 30px #9e3dff, 0 0 40px #9e3dff;
    }
    100% {
        box-shadow: 0 0 20px #9e3dff, 0 0 30px #9e3dff, 0 0 40px #ff00ff, 0 0 50px #ff00ff;
    }
}

.header-btn{
    font-size: 18px;
    font-weight: bolder;
    color: white;
    width: 130px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid var(--button-purple);
    background: var(--button-purple);
    margin-top: 20px;
    margin-right: 30px;

}

    

@keyframes moveInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLine {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 150px;
        margin-top: 20px; 
    }
}

@media(max-width:960px){
    .header-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .uni-logo {
        height: 230px;
        width: 230px;
        margin: 0 auto; 
        text-align: center;
    }

    .header-img {
        text-align: center;
    }

    .header-text {
        height: auto;
        text-align: center;
        padding-left: 0px;

    }

    .line1 {
        display: none;
    }

    .logo-name{
        text-align: center;
        align-items: center;
        font-size: 45px;
    }

    .logo-description{
        font-size: 20px;
    }
}



@media(max-width:700px){
    .header-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        height: auto !important;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .uni-logo {
        margin-right: 0;
        text-align: center;
        width: 140px;
        height: 140px;
    }

    .header-img {
        text-align: center;
        display: block;
    }

    .header-text {
        height: auto;
        text-align: center;
        margin-left: 0;
    }

    .line1 {
        display: none;
    }

    .logo-name {
        font-size: 30px;
    }
    
    .logo-description {
        font-size: 15px;
        font-weight: normal;
    }

    .header-btn{
        font-size: 16px;
        font-weight: bolder;
        color: white;
        width: 120px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid var(--button-purple);
        background: var(--button-purple);
        margin-left: 15px;
    }
}