.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw; /*updated to dynamic view*/
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-spinner {
    width: 900px; 
    height: auto !important; 
  }
  