*{
    font-family: "Poppins";
}

.Eligibility-Header-outer{
    height: 300px;
    background-color: white;
   
}

.Eligibility-Header-inner{
    background-color: var(--light-grey);
    height: 253px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;   
}

